.button-accomplish {
  font-size: 1.2rem;
  padding: 0.3rem 2rem 0.2rem;
  margin: 1rem;
  border: 2px dotted olivedrab;
  background-color: whitesmoke;
  transition: background-color 0.5s ease-in-out;
}
/* todo: style button according to specific usage */

.button-accomplished {
  color: white;
  background-color: olivedrab;
}

.button-add {
  font-size: 1rem;
  padding: 0.25rem 0.8rem;
}
