.date-unit {
  font-size: 2rem;
}

.passed-date-section {
  text-align: left;
}

.passed-date-unit {
  display: inline-block;
  color: darkolivegreen;
  background-color: lightgray;
  text-align: center;
  padding: 0 0.3rem;
  /* margin left/right never collapse*/
  margin: 0 0.2rem;
  /* todo 每个数字占屏幕 1/31（也许不需要）；显示屏适配。 */
}

.present-date-unit {
  color: white;
  background-color: olivedrab;
  line-height: 3rem;
  /* temporarily, before clearing the default */
  margin-top: 1rem;
}
